<div class="container">
    <div class="row mx-auto d-flex justify-content-center">
    @{
        ViewData["size"] = 2;
        ViewData["link"] = "https://i.pinimg.com/564x/14/df/5d/14df5d0b00c25d76082633ecb91879e0.jpg";
    }
@Html.Partial("_ContentPartial")
@{ViewData["link"] = "https://i.pinimg.com/564x/f5/3e/39/f53e395c512842c0fae3bf0df686f2c5.jpg";}
@Html.Partial("_ContentPartial")
@{ViewData["link"] = "https://i.pinimg.com/564x/9a/58/46/9a58463317590fe6e5bc23cb7c81d927.jpg";}
@Html.Partial("_ContentPartial")
@{ViewData["link"] = "https://i.pinimg.com/564x/2b/e8/4a/2be84a2e1dc9925f3b10f1e3e8ac6898.jpg";}
@Html.Partial("_ContentPartial")
@{ViewData["link"] = "https://i.pinimg.com/564x/09/8c/00/098c0013d780d945ac4a7bbb9acbb4cf.jpg";}
@Html.Partial("_ContentPartial")
@{ViewData["link"] = "https://i.pinimg.com/564x/a7/8e/36/a78e3686dccd075d203d894f7aa23c73.jpg";}
@Html.Partial("_ContentPartial")
</div>
<div class="row mx-auto d-flex justify-content-center">
@{ViewData["link"] = "https://i.pinimg.com/564x/5b/36/a9/5b36a93c1086e2c4f92c86032ca22c51.jpg";}
@Html.Partial("_ContentPartial")
@{ViewData["link"] = "https://i.pinimg.com/564x/76/22/5a/76225a8753a01eefa6b002489e624990.jpg";}
@Html.Partial("_ContentPartial")
@{ViewData["link"] = "https://i.pinimg.com/564x/3a/bc/90/3abc90570c2b68eb3cadc501d8838a7a.jpg";}
@Html.Partial("_ContentPartial")
@{ViewData["link"] = "https://i.pinimg.com/564x/35/bc/8c/35bc8c134bbfe0a6a7d3e42ca9afb855.jpg";}
@Html.Partial("_ContentPartial")
@{ViewData["link"] = "https://i.pinimg.com/564x/83/cc/e4/83cce4ba5aae74313467250088bb991c.jpg";}
@Html.Partial("_ContentPartial")
@{ViewData["link"] = "https://i.pinimg.com/564x/17/bb/32/17bb3235eadc2d3c23e1bad40f78d3e6.jpg";}
@Html.Partial("_ContentPartial")
</div>
<div class="row mx-auto d-flex justify-content-center">
@{ViewData["link"] = "https://i.pinimg.com/564x/82/46/cc/8246cca1198ba9f55d96281d9091454c.jpg";}
@Html.Partial("_ContentPartial")
@{ViewData["link"] = "https://i.pinimg.com/564x/84/9a/08/849a08273900f6878b24b2a6dd00e226.jpg";}
@Html.Partial("_ContentPartial")
@{ViewData["link"] = "https://i.pinimg.com/564x/cf/7d/2a/cf7d2ac2ee3c4017f4aa55fb29529ed9.jpg";}
@Html.Partial("_ContentPartial")
@{ViewData["link"] = "https://i.pinimg.com/736x/30/4e/c6/304ec6e1494b553732ce063f83e91885.jpg";}
@Html.Partial("_ContentPartial")
@{ViewData["link"] = "https://i.pinimg.com/564x/c6/8d/ab/c68dab4c9357690f2fa1fb83ff8a1350.jpg";}
@Html.Partial("_ContentPartial")
@{ViewData["link"] = "https://i.pinimg.com/564x/56/7e/c6/567ec6ed2b042dd17502bf0983e6d586.jpg";}
@Html.Partial("_ContentPartial")
</div>
<div class="row mx-auto d-flex justify-content-center">
@{ViewData["link"] = "https://i.pinimg.com/564x/8c/f5/15/8cf5153df44b2be9d282bb36e66b624e.jpg";}
@Html.Partial("_ContentPartial")
@{ViewData["link"] = "https://i.pinimg.com/564x/e6/53/d0/e653d0afb6b669ff1ef5e667e6c1fcac.jpg";}
@Html.Partial("_ContentPartial")
@{ViewData["link"] = "https://i.pinimg.com/564x/b9/f0/5e/b9f05e1aa896dd96107ed2bd71d085af.jpg";}
@Html.Partial("_ContentPartial")
@{ViewData["link"] = "https://i.pinimg.com/564x/96/2f/8c/962f8c731d016495af899b963d9b4d1f.jpg";}
@Html.Partial("_ContentPartial")
@{ViewData["link"] = "https://i.pinimg.com/564x/75/4f/4c/754f4c6534b3c8cc0fe267ecf26b5d7c.jpg";}
@Html.Partial("_ContentPartial")
@{ViewData["link"] = "https://i.pinimg.com/564x/e4/90/d6/e490d666ed4151a4681fee2e90984481.jpg";}
@Html.Partial("_ContentPartial")
</div>
</div>